<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Movies form</title>
</head>
<body>
    {# <form action="{{ path('movies') }}">
        <p><label for="id">Movie id: </label></p>
        <p><input type="number" name="id" id="id"></p>
        <p><label for="name">Movie name: </label></p>
        <p><input type="text" name="name" id="name"></p>
        <p><label for="date">Date: </label></p>
        <p><input type="date" name="date" id="date"></p>
        <p><label for="director">Director: </label></p>
        <p><input type="text" name="director" id="director"></p>
        <p><button>Submit</button></p>
    </form> #}

    {{ form_start(form) }}
    {{ form_widget(form) }}

    {# <input type="submit" class="btn" value="Create" /> #}
    {{ form_end(form) }}

    ID is {{moviesData.id}}
    
</body>
</html>